<ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only color="royal">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Send To...</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content></ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <p>Ash, Misty, Brock</p>
      <ion-buttons end>
        <button ion-button icon-right color="royal">
          Send
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  Segment in Toolbars
  Improve this Doc
  
  Segments are a great way to allow users to switch between different sets of data. Use the following markup to add a segment to a toolbar:
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
      <ion-segment>
        <ion-segment-button value="new">
          New
        </ion-segment-button>
        <ion-segment-button value="hot">
          Hot
        </ion-segment-button>
      </ion-segment>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>